:root {
    --bg-color: #1C1F26;
    --calc-color: #4C585B;
    --button-color: #7E99A3;
    --screen-color: #A5BFCC;
    --button-hover-color: hsl(47.3, 60%, 89.2%);
    --button-active-color: hsl(47.3, 60%, 59.2%);
    --button-active-border-color: #EEEE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--bg-color);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    width: 40vw;
    border: 4px solid black;
    border-radius: 10px;
    padding: 1em;
    background-color: var(--calc-color);
}


.screen {
    border: 3px solid black;
    padding: 0.75em;
    border-radius: 10px;
    background-color: var(--screen-color);
    margin-bottom: 5px;
    font-weight: 900;
    font-size: 50px;
    text-align: right;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.button-row {
    display: flex;
    flex: 1
}

button {
    flex: 1;
    padding: 2em;
    border-radius: 10px;
    background-color: var(--button-color);
    font-weight: 900;
    font-size: 20px;
}

button:hover {
    background-color: var(--button-hover-color)
}

button:active {
    background-color: var(--button-active-color);
    border-color: var(--button-active-border-color)
}